# .env 파일 무시
.env
# 가상환경 폴더 무시
venv/
__pycache__
*.pyc

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Virtual Envs
venv/
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python virtual environments
venv/
venv*/   